<header class="dashboard-header">
  <div class="dashboard-info">
    <h1 class="dashboard-title">Dashboard Builder <span class="version-badge">{{ version }}</span></h1>
    <span class="widget-count">{{ widgetCount }} widgets</span>
  </div>
  
  <div class="dashboard-actions">
    <button class="btn btn-primary" 
            (click)="addWidget.emit()"
            title="Add Widget">
      <!-- Icon: Plus/Add (Bootstrap Icons) -->
      <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor" data-icon="plus">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      Add Widget
    </button>
    
    <div class="btn-group">
      <button class="icon-btn-toolbar"
              [class.active]="showGrid"
              (click)="toggleGrid.emit()"
              title="Toggle Grid">
        <!-- Icon: Grid 3x3 (Bootstrap Icons) -->
        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" data-icon="grid-3x3">
          <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"/>
        </svg>
      </button>
      
      <button class="icon-btn-toolbar"
              [disabled]="isLoading"
              (click)="refreshWidgets.emit()"
              title="Refresh Widgets from API">
        <!-- Icon: Arrow Repeat/Sync (Bootstrap Icons) -->
        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" data-icon="arrow-repeat">
          <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
          <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
        </svg>
      </button>
      
      <button class="icon-btn-toolbar"
              (click)="exportLayout.emit()"
              title="Export">
        <!-- Icon: Download (Bootstrap Icons) -->
        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" data-icon="download">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
        </svg>
      </button>
      
      <label class="icon-btn-toolbar"
             title="Import">
        <input type="file" 
               accept=".json"
               (change)="onImportFile($event)"
               style="display: none;">
        <!-- Icon: Upload (Bootstrap Icons) -->
        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" data-icon="upload">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
        </svg>
      </label>
    </div>
    
    <button class="icon-btn-toolbar"
            (click)="resetLayout.emit()"
            title="Reset">
      <!-- Icon: Arrow Clockwise/Refresh (Bootstrap Icons) -->
      <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" data-icon="arrow-clockwise">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
      </svg>
    </button>
  </div>
</header>

